.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/

# intermediate rendering files
*_files/execute-results/

# generated website files
_site/
docs/
outputs/

# google credentials
gha-creds-*.json
sbw-atm-website-*.json
